@(title: String, UpdatePasswordConstraintList: Form[UpdatePassword] )(implicit messages: play.api.i18n.Messages,flash: Flash)

@import helper._

@main(title) {

<h1>Welcome to Knoldus!</h1>

@helper.form(action = routes.UpdatePasswordController.updatePassword()){
@helper.inputText(UpdatePasswordConstraintList("email"),
'_showConstraints-> false)
@helper.inputPassword(UpdatePasswordConstraintList("password"),
'_showConstraints-> false)
@helper.inputPassword(UpdatePasswordConstraintList("confirmPassword"),
'_showConstraints-> false)
<button value="Submit">Submit</button>
}

}
