@(isAdmin: Boolean, activeTab: String)


@if(!isAdmin){
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Knoldus</a>
        </div>
        <ul class="nav navbar-nav navbar-right">

            <li id="profile"><a href='@controllers.routes.Application.updateProfile'>User Profile</a></li>
            <li id="view"><a href='@controllers.routes.Application.viewAssignment'>View Assignment</a></li>
            <li><a href='@controllers.routes.LogoutController.logout'>Logout</a></li>

        </ul>
    </div>
</nav>
}else{
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Knoldus</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="{% if(activeTab == 'profile') %}active{% endif %}"><a
                    href='@controllers.routes.Application.updateProfile'>User Profile</a></li>
            <li><a href='@controllers.routes.Application.viewAssignment'>View Assignment</a></li>
            <li><a href='@controllers.routes.Application.addAssignment'>Add Assignment</a></li>
            <li><a href='@controllers.routes.Application.viewUser'>View Users</a></li>
            <li><a href='@controllers.routes.LogoutController.logout'>Logout</a></li>

        </ul>
    </div>
</nav>
}