@(title: String, userUpdateConstraintList: Form[UpdateUserDetails], listOfHobbies: List[String], isAdmin:Boolean)(implicit messages: play.api.i18n.Messages, flash: Flash)
@import helper._

@main(title) {

@navbar(isAdmin, "profile")

<h1 align="center">Welcome to Knoldus!</h1>

@if(userUpdateConstraintList.hasGlobalErrors) {
<ul>
    @for(error <- userUpdateConstraintList.globalErrors) {
    <li>@Messages(error.messages, error.args)</li>
    }
</ul>
}
<div align="center">

    @helper.form(action = routes.UpdateProfileController.updateProfile()){
    @helper.inputText(userUpdateConstraintList("name.firstName"),
    '_showConstraints-> false,'_label -> "First Name")
    @helper.inputText(userUpdateConstraintList("name.middleName"),
    '_showConstraints-> false,'_label -> "Middle Name")
    @helper.inputText(userUpdateConstraintList("name.lastName"),
    '_showConstraints-> false,'_label -> "Last Name")
    @helper.inputText(userUpdateConstraintList("mobileNumber"),
    '_showConstraints-> false,'_label -> "Mobile Number")
    @helper.select(userUpdateConstraintList("gender"), options(List("Male", "Female")),
    '_showConstraints -> false, '_label -> "Gender")
    @helper.inputText(userUpdateConstraintList("age"),
    '_showConstraints -> false, '_label -> "Age")
    @inputCheckboxGroup(userUpdateConstraintList("hobbies"),options = listOfHobbies.map(hobby => hobby -> hobby),
    '_label -> "Hobbies")

    <button value="Submit">Submit</button>
</div>
}
<h2 align="center">@flash.get("success").getOrElse(flash.get("error"))</h2>

}